.btn {
    border-radius: 6px;
}

.twitter-icon img, .discord-icon img {
    max-width: 50px;
}

.navbar-brand {
    font-size: 20px;
    color: #000 !important;
}

.footer-logo {
    font-weight: 600;
    line-height: 3;
}